<h1 class="text-center">Quero fazer parte da equipe</h1>
<div class="intro">
  Você quer participar da
  <a [routerLink]="['/equipe']">Equipe Solidária</a>?
  Preencha o formulário abaixo e aguarde o nosso contato.
  Muito obrigado pela sua disposição em ajudar!
</div>
<iframe
  src="https://docs.google.com/forms/d/e/1FAIpQLSeGPlSI3i0tVij3Lw0ordDEBPjuZquBQdtxCTuwamyv_-viag/viewform?embedded=true"
  width="100%"
  height="1000"
  frameborder="0"
  marginheight="0"
  marginwidth="0">
  Loading…
</iframe>
