.marca {
  background-color: #dee2e6;
}

.loja-titulo {
  font-weight: 700;
  line-height: 1rem;
  margin: .5rem;
}

.loja-subtitulo {
  line-height: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
}
