<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container">
    <a
      class="navbar-brand"
      [routerLink]="['']">
      <img
        src="assets/imgs/icon.svg"
        alt="M"
        width="38"
        height="38"
        alt="Mercadinho">
        <span class="sr-only">Página inicial</span>
    </a>
    <div>
      <app-pesquisar></app-pesquisar>
    </div>
    <button
      class="navbar-toggler navbar-toggler-always"
      type="button"
      data-toggle="collapse"
      data-target="#navegacao"
      aria-controls="navegacao"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()">
      <span class="icon-menu"></span>
    </button>

    <div
      id="navegacao"
      class="collapse navbar-collapse"
      [ngClass]="{ 'show': navbarOpen }"
      (click)="toggleNavbar()">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a
            class="nav-link"
            [routerLink]="['/lojas']" routerLinkActive="active">
            Mercado Solidário
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/voluntarios']" routerLinkActive="active">
            Equipe Solidária
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/depoimentos']" routerLinkActive="active">
            Depoimentos
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/quero-fazer-parte-da-equipe']" routerLinkActive="active">
            Quer ser da nossa equipe?
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/precisa-de-um-site']" routerLinkActive="active">
            Precisa de um site?
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
