.sem-resultados {
  height: calc(100vh - 75px);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 576px) {
    height: calc(50vh - 75px);
  }
}

.marca {
  background-color: #dee2e6;
}
