<div class="loader" [hidden]="!carregandoService.estaCarregando">Carregando...</div>
<p [hidden]="estabelecimentos.length == 0">
  <strong>{{ estabelecimentos.length }}</strong>
  estabelecimentos
</p>
<div class="row">
  <div
    class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4"
    *ngFor="let estabelecimento of estabelecimentos">
    <app-estabelecimento [estabelecimento]="estabelecimento"></app-estabelecimento>
  </div>
</div>
<div
  class="sem-resultados"
  [hidden]="estabelecimentos.length > 0 || carregandoService.estaCarregando">
  <strong>Nenhum resultado encontrado.</strong>
</div>
