.depoimento {
  background-color: #f28e70;
  padding: 3rem 2rem;
  color: #ffffff;
  font-weight: 700;
}

.bg-1 {
  background-color: #f28e70;
}

.bg-2 {
  background-color: #59595b;
}

.bg-3 {
  background-color: #7a7a7c;
}

.bg-4 {
  background-color: #f5aa94;
}
