@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

// Carrega Bootstrap
@import "../node_modules/bootstrap/scss/functions";
@import "assets/bootstrap/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "assets/bootstrap/overhide";

// Carrega ícones
@import "assets/icons.scss";

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.navbar-brand {
  margin-right: 0;
}

.modal-backdrop {
  top: 60px;
}

.modal {
  top: 60px;
}

.modal-dialog {
  max-width: none;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }
}
.modal-content {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  animation-name: animationPop;
  animation-duration: 0.3s;
}
.navbar-collapse {
  animation-name: animationPop;
  animation-duration: 0.3s;
}

@keyframes animationPop {
  0%   {transform: scale(0.5)}
  75%  {transform: scale(1.1)}
  100% {transform: scale(1)}
}

.intro {
  padding: 2rem 0;
}
