<div class="inicio">
  <div>
    <div class="img-inicio-wrapper">
      <img
        src="assets/imgs/mercadinho.svg"
        alt="Mercadinho"
        class="img-inicio">
    </div>
    <h2>
      Bem vindo(a) ao
      <br>
      Mercado Solidário,
    </h2>
    <div class="intro">
      um portal sem fins lucrativos para ajudar pequenos comerciantes
  que precisam vender e  pessoas que precisam de produtos baratos para comprar.
    </div>
    <div class="text-center">
      <a class="btn btn-primary" [routerLink]="['/lojas']">Conheça</a>
    </div>
  </div>
</div>
